﻿@model SmartAdminMvc.Models.TipoContrato.EditarTipoContratoViewModel


<form id="formularioDeEditarContrato" class="smart-form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdContrato)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
        <div class="input">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

</form>


<script>
    $("#IdContrato").select2();
</script>