﻿@model SmartAdminMvc.Models.Areas.EditarAreaViewModel


<form id="formularioDeEditarAreas" class="smart-form">
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model=> model.IdArea)
    <div class="form-group">
        @Html.LabelFor(model => model.IdDepartamento, htmlAttributes: new { @class = "control-label" })

        <div class="select">

            @Html.DropDownListFor(model => model.IdDepartamento, new SelectList(ViewBag.SelectDepartamentos, "Value", "Text"), "Seleccione Departamento...", new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(model => model.IdDepartamento, "", new { @class = "text-danger" })
            @*@Html.DropDownList("Departamento",ViewBag.DepList as SelectList,"Seleccione Departamentos")*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NombreArea, htmlAttributes: new { @class = "control-label" })
        <div class="input">
            @Html.EditorFor(model => model.NombreArea, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.NombreArea, "", new { @class = "text-danger" })
        </div>
    </div>

</form>

<script>
    $("#IdDepartamento").select2();
</script>