﻿@model IEnumerable<SmartAdminMvc.Models.Areas.ListarAreasViewModel>

@{
    ViewBag.Title = "Index";
}


<div class="col-lg-12">
    <div class="jarviswidget jarviswidget-color-darken">
        <header role="heading">

            <div class="widget-toolbar" role="menu">

                <button type="button" id="btnmodalAgregarArea" class="btn btn-primary">Crear Area</button>

            </div>
            <h2>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                Areas
            </h2>

        </header>

        <div>

            <div class="widget-body no-padding">
                <table id="tablaDeAreas" class="table">
                    <thead>
                        <tr>
                            <th data-class=""> @Html.DisplayNameFor(model => model.Departamento)</th>
                            <th data-class=""> @Html.DisplayNameFor(model => model.NombreArea)</th>
                            <th data-class=""> @Html.DisplayNameFor(model => model.Estado)</th>
                            <th></th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {


                        <tr>

                            <td>

                                @Html.DisplayFor(modelItem => item.Departamento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreArea)
                            </td>
                            <td>

                                @if (Convert.ToBoolean(item.Estado))
                                {
                                    <label class="label label-success"> Activo</label>
                                }
                                else
                                {
                                    <label class="label label-danger"> Inactivo</label>
                                }

                            </td>
                            <td>
                                <div class="btn-group btn-sm">
                                    <button type="button" class="btn btn-link dropdown-toggle  no-padding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <xml data-iddicitionary="1003" data-class="Label-ML" title="1003">Actions</xml>
                                        <span class="caret"></span>
                                    </button><ul class="dropdown-menu dropdown-menu-left">
                                        <li>
                                            <a href="#" name="editarArea" data-key="@item.IdArea">
                                                <span class="fa fa-edit"></span> Editar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" name="Archive" data-key="@item.IdArea">
                                                <span class="fa fa-edit"></span> Deshabilitar
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                    }

                </table>

            </div>

        </div>
    </div>


</div>


<div class="modal fade" id="modalEditarArea" tabindex="-2" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="jarviswidget jarviswidget-color-darken">
            <header role="heading">
                <h2>
                    Editar Area
                </h2>
            </header>
            <div>
                <div class="widget-body" id="bodyModalEditarArea">

                </div>
                <div class="widget-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnEditarArea">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalAgregarArea" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="jarviswidget jarviswidget-color-darken">
            <header role="heading">
                <h2>
                    <span class="fa fa-plus-circle"></span>
                    Nueva Area
                </h2>
            </header>
            <div>
                <div class="widget-body" id="bodyModalCrearArea">

                </div>
                <div class="widget-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnGuardarArea">Guardar Area</button>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div>
@section pagespecific {
<script type="text/javascript">

        $(document).ready(function() {
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#tablaDeAreas').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function() {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic =
                            new ResponsiveDatatablesHelper($('#tablaDeAreas'), breakpointDefinition);
                    }
                },
                "rowCallback": function(nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function(oSettings) {
                    responsiveHelper_dt_basic.respond();
                },
                "pageLength": 10,
               "ordering": true
            });

            $("#tablaDeAreas tbody").on("click",
            "tr a[name=editarArea]",
            function() {

                var idArea = $(this).attr("data-key");

                $.ajax({
                    url: "@Url.Action("Edit", "Area")",

                    data: { id: idArea },

                    success: function(partialView) {

                        $("#modalEditarArea").modal().show();
                        $("#bodyModalEditarArea").html(partialView);

                    }


                });

            });




        $("#btnmodalAgregarArea").on("click",
            function() {

                var idArea = $(this).attr("data-key");

                $.ajax({
                    url: "@Url.Action("Create", "Area")",


                    success: function(partialView) {

                        $("#modalAgregarArea").modal().show();
                        $("#bodyModalCrearArea").html(partialView);

                    }


                });

            });
        });

        $("#btnGuardarArea").on("click",
            function () {

                $.ajax({

                    url: "@Url.Action("Create", "Area")",

                    type: "POST",

                    data: $("#formularioDeGuardarAreas").serialize(),

                    success: function (jsonMessage) {

                        if (jsonMessage.Estatus) {
                       location.href = "@Url.Action("Index","Area")";
                        } else {
                            $.smallBox({
                                title: "Areas",

                                content: jsonMessage.Mensaje,

                                color: "#296191",

                                timeout: 4000

                            });
                        }

                    }

                });

            });
        $("#btnEditarArea").on("click",
            function () {

                $.ajax({

                    url: "@Url.Action("Edit", "Area")",

                    type: "POST",

                    data: $("#formularioDeEditarAreas").serialize(),

                    success: function (jsonMessage) {

                        if (jsonMessage.Estatu) {
                            location.reload();
                        } else {
                            $.smallBox({
                                title: "Areas",

                                content: jsonMessage.Mensaje,

                                color: "#296191",

                                timeout: 4000

                            });
                        }

                    }

                });

            });
        $("#tablaDeAreas tbody").on("click",
            "tr a[name=Archive]",
            function () {
                var idArea = $(this).attr("data-key");
                var data = new $.fn.dataTable.Api("#tablaDeAreas").row($(this).closest("tr")).data();

                $.ajax({

                    url: "@Url.Action("Delete", "Area")",

                    data: { id: idArea },
                    
                    type: "GET",

                    success: function (jsonMessage) {

                        if (jsonMessage.Estatu) {
                            location.reload();
                        } else {
                            $.smallBox({
                                title: "Areas",

                                content: jsonMessage.Mensaje,

                                color: "#296191",

                                timeout: 4000

                            });
                        }

                    }

                });

            });

</script>
}