﻿@model SmartAdminMvc.Models.Genero.CrearGeneroViewModel
@{
    Layout = null;
}

<form id="formularioDeGuardarGenero" class="smart-form">
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.Genero, htmlAttributes: new { @class = "control-label" })
        <div class="input">
            @Html.EditorFor(model => model.Genero, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
        </div>
    </div>

</form>


<script>
    $("#IdGenero").select2();
</script>