﻿@model SmartAdminMvc.Models.Genero.EditarGeneroViewModel


<form id="formularioDeEditarGenero" class="smart-form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdGenero)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Genero, htmlAttributes: new { @class = "control-label" })
        <div class="input">
            @Html.EditorFor(model => model.Genero, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
        </div>
    </div>

</form>


<script>
    $("#IdGenero").select2();
</script>