﻿@*  *@  
<style>
    .img-hcf {
        background-image: url("../img/log.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%;
    }
     .main {
         padding: 0;
         padding-bottom: 52px;
         min-height: 900px;
         position: relative;
     }

    .jarvismetro-tile.big-cubes {
        width: 180px;
        height: 180px;
    }

    .jarvismetro-tile.double {
        width: 249px;
    }

    .jarvismetro-tile:active {
        top: 1px;
        left: 1px;
    }

    .jarvismetro-tile .iconbox {
        text-align: center;
    }

    .jarvismetro-tile .iconbox i {
        display: block;
        margin: 15px auto 0;
        height: 75px;
    }

    .jarvismetro-tile .iconbox span {
        display: block;
        text-align: center;
    }

    .jarvismetro-tile .iconbox span > span {
        position: absolute;
        right: -3px;
        bottom: -3px;
        border-radius: 50%;
        padding: 5px;
        border: 1px solid #fff;
    }

    .jarvismetro-tile {
        float: left;
        display: block;
        background-color: #fff;
        width: 100px;
        height: 70px;
        cursor: pointer;
        box-shadow: inset 0 0 1px #FFC;
        border: 1px dotted #C5C5C5;
        text-decoration: none;
        color: #fff;
        font-weight: 300;
        font-smooth: always;
        margin: 0 10px 20px 0;
        padding: 5px;
        position: relative;
    }

    .jarvismetro-tile:hover {
        z-index: 10;
        -webkit-transform: scale(1.07);
        -moz-transform: scale(1.07);
        color: #ffffff;
        background-color: #dc1b26 !important;
    }

    .bg-color-coffee {
        background-color: #6d0606 !important;
    }
</style>

<div id="MenuContent" class="col-lg-12">


    <button id="btnMenuReclutamiento" class="jarvismetro-tile big-cubes bg-color-grayDark text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-users fa-4x"></i><br />

                <b><span> Reclutamiento y Seleccion </span></b>
            </span>
        </h5>
    </button>
    <button id="btnMenuAdministracionCapitalHumano" class="jarvismetro-tile big-cubes bg-color-grayDark text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-list-alt fa-4x"></i><br />
                <b><span>Administracion de Personal</span></b>
            </span>
        </h5>
    </button>

    <button id="btnMenuMantenimientos" class="jarvismetro-tile big-cubes bg-color-grayDark text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-cogs fa-4x"></i><br />
                <b><span>Mantenimientos</span></b>
            </span>
        </h5>
    </button>

    <a href="#" class="jarvismetro-tile big-cubes bg-color-grayDark  text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-database fa-4x"></i><br />
                <b><span>Calculo de Nominas</span></b>
            </span>
        </h5>
    </a>

    <a href="#" class="jarvismetro-tile big-cubes bg-color-grayDark  text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-file-text fa-4x"></i><br />
                <b><span>Reporteria</span></b>
            </span>
        </h5>
    </a>
</div>
<div id="SubMenuContentReclutamiento" class="col-lg-12" style="display:none;">
    <legend><b>Reclutamiento y Seleccion</b></legend>
    <a href="@Url.Action("Create", "CrearCandidato")" class="jarvismetro-tile big-cubes bg-color-grayDark text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-user-plus fa-4x"></i><br />
                <b><span>Crear Candidatos</span></b>
            </span>
        </h5>
    </a>

    <a href="@Url.Action("Index", "CrearCandidato")" class="jarvismetro-tile big-cubes bg-color-grayDark text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-address-card-o fa-4x"></i><br />
                <b><span>Candidatos</span></b>
            </span>
        </h5>
    </a>
</div>
<div id="SubMenuContentAdministracionCapitalHumano" class="col-lg-12" style="display:none;">
<legend><b>Administracion de Personal</b></legend>
<a href="@Url.Action("ListarContratados","CrearCandidato")" class="jarvismetro-tile big-cubes bg-color-coffee text-center">
    <h5>
        <span class="iconbox">
            <i class="fa fa-list fa-4x"></i><br />
            <b><span>Listar Personal</span></b>
        </span>
    </h5>
</a>
</div>
    <div id="SubMenuContentMantenimientos" class="col-lg-12" style="display: none;">
    <legend><b>Mantenimientos</b></legend>

    <a href="@Url.Action("Index", "Area")" class="jarvismetro-tile big-cubes bg-color-grayDark  text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-crosshairs fa-4x"></i><br />
                <b><span>Area </span></b>
            </span>
        </h5>
    </a>
    <a href="@Url.Action("Index", "Puesto")" class="jarvismetro-tile big-cubes bg-color-grayDark  text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-sitemap fa-4x"></i><br />
                <b><span>Puesto </span></b>
            </span>
        </h5>
    </a>

    <a href="@Url.Action("Index", "Idiomas")" class="jarvismetro-tile big-cubes bg-color-grayDark  text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-hand-o-up fa-4x"></i><br />
                <b><span>Idiomas</span></b>
            </span>
        </h5>
    </a>
    <a href="@Url.Action("Index", "TipoGenero")" class="jarvismetro-tile big-cubes bg-color-grayDark  text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-venus-mars fa-4x " aria-hidden="true"></i><br />
                <b><span>Tipo de Genero</span></b>
            </span>
        </h5>
    </a>
    <a href="@Url.Action("Index", "Nacionalidad")" class="jarvismetro-tile big-cubes bg-color-grayDark  text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-flag fa-4x"></i><br />
                <b><span>Nacionalida</span></b>
            </span>
        </h5>
    </a>
    <a href="@Url.Action("Index", "EstadoCivil")" class="jarvismetro-tile big-cubes bg-color-grayDark  text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-pencil-square-o fa-4x"></i><br />
                <b><span>Estado Civil</span></b>
            </span>
        </h5>
    </a>
    <a href="@Url.Action("Index", "Profesiones")" class="jarvismetro-tile big-cubes bg-color-grayDark  text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-graduation-cap fa-4x"></i><br />
                <b><span>Tipo Profesion</span></b>
            </span>
        </h5>
    </a>

    <a href="@Url.Action("Index", "TipoContrato")" class="jarvismetro-tile big-cubes bg-color-grayDark  text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-file-text fa-4x"></i><br />
                <b><span>Tipo Contrato</span></b>
            </span>
        </h5>
    </a>
    <a href="@Url.Action("Index", "Turno")" class="jarvismetro-tile big-cubes bg-color-grayDark  text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-hourglass-half fa-4x"></i><br />
                <b><span>Turno</span></b>
            </span>
        </h5>
    </a>
    <a href="@Url.Action("Index", "TipoPlanilla")" class="jarvismetro-tile big-cubes bg-color-grayDark  text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-money fa-4x"></i><br />
                <b><span>Tipo Planilla</span></b>
            </span>
        </h5>
    </a>
    <a href="@Url.Action("Index", "TipoPersona")" class="jarvismetro-tile big-cubes bg-color-grayDark  text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-user fa-4x"></i><br />
                <b><span>Tipo Persona</span></b>
            </span>
        </h5>
    </a>
    <a href="#" class="jarvismetro-tile big-cubes bg-color-grayDark  text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-users fa-4x"></i><br />
                <b><span>Tipo Parentesco</span></b>
            </span>
        </h5>
    </a>
    <a href="@Url.Action("Index", "Departamento")" class="jarvismetro-tile big-cubes bg-color-grayDark  text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-university fa-4x"></i><br />
                <b><span>Departamento</span></b>
            </span>
        </h5>
    </a>

    <a href="@Url.Action("Index","Deducciones")"  class="jarvismetro-tile big-cubes bg-color-grayDark  text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-sign-out fa-4x"></i><br />
                <b><span>Deduccion</span></b>
            </span>
        </h5>
    </a>

    <a href="@Url.Action("Index","Ingresos")" class="jarvismetro-tile big-cubes bg-color-grayDark  text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-level-up fa-4x"></i><br />
                <b><span>Ingresos</span></b>
            </span>
        </h5>
    </a>

    <a href="@Url.Action("Index","CentroEducativo") " class="jarvismetro-tile big-cubes bg-color-grayDark  text-center">
        <h5>
            <span class="iconbox">
                <i class="fa fa-industry fa-4x" aria-hidden="true"></i>
                <b><span>Centros Educativos</span></b>
            </span>
        </h5>
    </a>
</div>
    @section Scripts{

        <script>
            let ListaMenu = [];

            $(document).ready(function () {
                LlenarMenu();
            });

            $("#btnMenuReclutamiento").on("click", function () {
                ShowOrHideSubMenu($(this).attr("id"));
            });

            $("#btnMenuAdministracionCapitalHumano").on("click", function () {
                ShowOrHideSubMenu($(this).attr("id"));
            });

            $("#btnMenuMantenimientos").on("click", function () {
                ShowOrHideSubMenu($(this).attr("id"));
            });

            function Menu(descripcion, idItem, idBtn) {
                this.Descripcion = descripcion;
                this.IdItemMenu = idItem;
                this.IdBtn = idBtn;
            }

            function ShowOrHideSubMenu(Btn) {
                var objetoSeleccionado = ListaMenu.filter(function (obj) { if (obj.IdBtn === Btn) return obj; });
                $.each(ListaMenu,
                    function (idx, dt) {
                        if (dt.IdItemMenu === objetoSeleccionado[0].IdItemMenu) {
                        } else {
                            $("#" + dt.IdItemMenu).hide();
                        }
                    });
                if ($("#" + objetoSeleccionado[0].IdItemMenu).is(":hidden")) {
                    $("#" + objetoSeleccionado[0].IdItemMenu).show("drop");
                } else {
                    $("#" + objetoSeleccionado[0].IdItemMenu).hide("drop");
                }
            }

            function LlenarMenu() {
                var menuReclutamientoYSeleccion = new Menu();
                menuReclutamientoYSeleccion.Descripcion = "Reclutamiento y Selección";
                menuReclutamientoYSeleccion.IdItemMenu = "SubMenuContentReclutamiento";
                menuReclutamientoYSeleccion.IdBtn = "btnMenuReclutamiento";
                ListaMenu.push(menuReclutamientoYSeleccion);
                var menuAdministracionCapitalHumano = new Menu();
                menuAdministracionCapitalHumano.Descripcion = "Adminstración de Capital Humano";
                menuAdministracionCapitalHumano.IdItemMenu = "SubMenuContentAdministracionCapitalHumano";
                menuAdministracionCapitalHumano.IdBtn = "btnMenuAdministracionCapitalHumano";
                ListaMenu.push(menuAdministracionCapitalHumano);
                var menuMantenimientos = new Menu();
                menuMantenimientos.Descripcion = "Mantenimientos";
                menuMantenimientos.IdItemMenu = "SubMenuContentMantenimientos";
                menuMantenimientos.IdBtn = "btnMenuMantenimientos";
                ListaMenu.push(menuMantenimientos);

            }

        </script>

    }
