﻿@model SmartAdminMvc.Models.CentroEducativo.EditarCentroEducativoViewModel



<form id="formularioDeEditarCE" class="smart-form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdCentroEducativo)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new {@class = "control-label"})
        <div class="input">

            @Html.EditorFor(model => model.Nombre, new {htmlAttributes = new {@class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label" })
        <div class="input">
            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label" })
        <div class="input">
            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
        </div>
    </div>
</form>


<script>
    $("#IdCE").select2();
</script>
