﻿@model SmartAdminMvc.Models.Nacionalidad.EditarNacionalidadViewModel


<form id="formularioDeEditarNacionalidad" class="smart-form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdNac)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nacionalidad, htmlAttributes: new { @class = "control-label" })
        <div class="input">
            @Html.EditorFor(model => model.Nacionalidad, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.Nacionalidad, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NumeroIdentidad, htmlAttributes: new { @class = "control-label" })
        <div class="input">
            @Html.EditorFor(model => model.NumeroIdentidad, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.NumeroIdentidad, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label" })
        <div class="input">
            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
        </div>
    </div>
</form>


<script>
    $("#IdNacionalidad").select2();
</script>
