﻿@model SmartAdminMvc.Models.Departamentos.CrearDepartamentoViewModel
@{
    Layout = null;
}
<form id="formularioDeGuardarDep" class="smart-form">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.NombreDepartamento, htmlAttributes: new { @class = "control-label" })
        <div class="input">
            @Html.EditorFor(model => model.NombreDepartamento, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.NombreDepartamento, "", new { @class = "text-danger" })
        </div>
    </div>
</form>

<script>
    $("#IdDep").select2();
</script>