﻿@model IEnumerable<SmartAdminMvc.Models.Departamentos.ListarDepartamentoViewModel>
@{
    ViewBag.Title = "Index";
}
<div class="col-lg-12">
    <div class="jarviswidget jarviswidget-color-darken">
        <header role="heading">
            <div class="widget-toolbar" role="menu">
                <button type="button" id="btnmodalAgregarDep" class="btn btn-primary">Crear  Idioma</button>
            </div>
            <h2>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                Idioma
            </h2>
        </header>
        <div>
            <div class="widget-body no-padding">
                <table id="tablaDeDep" class="table table-striped table-bordered table-hover" width="100%">
                    <thead>
                        <tr>
                            <th data-class="expand"> @Html.DisplayNameFor(model => model.NombreDepartamento)</th>
                            <th data-class="expand"> @Html.DisplayNameFor(model => model.EstadoDepartamento)</th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                    <tr>
                        @*<td>
            @Html.DisplayFor(modelItem => item.IdEstadoC)
        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreDepartamento)
                        </td>
                        <td>
                            <label class="label label-success"> Activo</label>
                        </td>
                        @*<td>
            @if (Convert.ToBoolean(item.EstadoDepartamento))
            {
                <label class="label label-success"> Activo</label>
            }
            else
            {
                <label class="label label-danger"> Inactivo</label>
            }
        </td>*@
                        <td>
                            <div class="btn-group btn-sm">
                                <button type="button" class="btn btn-link dropdown-toggle  no-padding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <xml data-iddicitionary="1003" data-class="Label-ML" title="1003">Actions</xml>
                                    <span class="caret"></span>
                                </button><ul class="dropdown-menu dropdown-menu-left">
                                    <li>
                                        <a href="#" name="editarDep" data-key="@item.IdDepartamento">
                                            <span class="fa fa-edit"></span> Editar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" name="Archive" data-key="@item.IdDepartamento">
                                            <span class="fa fa-edit"></span> Deshabilitar
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEditarDep" tabindex="-2" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="jarviswidget jarviswidget-color-darken">
            <header role="heading">
                <h2>
                    Editar Departamento
                </h2>
            </header>
            <div>
                <div class="widget-body" id="bodyModalEditarDep">
                </div>
                <div class="widget-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnEditarDep">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modalAgregarDep" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="jarviswidget jarviswidget-color-darken">
            <header role="heading">
                <h2>
                    <span class="fa fa-plus-circle"></span>
                    Nuevo IDepepartamento
                </h2>
            </header>
            <div>
                <div class="widget-body" id="bodyModalCrearDep">
                </div>
                <div class="widget-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnGuardarDep">Guardar Idioma</button>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div>
@section pagespecific {
    <script type="text/javascript">

        $(document).ready(function() {
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#tablaDeDep').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function() {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic =
                            new ResponsiveDatatablesHelper($('#tablaDeDep'), breakpointDefinition);
                    }
                },
                "rowCallback": function(nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function(oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            $("#tablaDeDep tbody").on("click",
            "tr a[name=editarDep]",
            function () {


                var idArea = $(this).attr("data-key");

                $.ajax({
                    url: "@Url.Action("Edit", "Departamento")",

                    data: { id: idArea },

                    success: function(partialView) {

                        $("#modalEditarDep").modal().show();
                        $("#bodyModalEditarDep").html(partialView);

                    }


                });

            });




            $("#btnmodalAgregarDep").on("click",
            function() {

                var idArea = $(this).attr("data-key");

                $.ajax({
                    url: "@Url.Action("Create", "Departamento")",


                    success: function(partialView) {

                        $("#modalAgregarDep").modal().show();
                        $("#bodyModalCrearDep").html(partialView);

                    }


                });

            });
        });

        $("#btnGuardarDep").on("click",
            function () {

                $.ajax({

                    url: "@Url.Action("Create", "Departamento")",

                    type: "POST",

                    data: $("#formularioDeGuardarDep").serialize(),

                    success: function (jsonMessage) {

                        if (jsonMessage.Estatus) {
                       location.href = "@Url.Action("Index", "Departamento")";
                        } else {
                            $.smallBox({
                                title: "Dep",

                                content: jsonMessage.Mensaje,

                                color: "#296191",

                                timeout: 4000

                            });
                        }

                    }

                });

            });
        $("#btnEditarDep").on("click",
            function () {

                $.ajax({

                    url: "@Url.Action("Edit", "Departamento")",

                    type: "POST",

                    data: $("#formularioDeEditarDep").serialize(),

                    success: function (jsonMessage) {

                        if (jsonMessage.Estatu) {
                            location.reload();
                        } else {
                            $.smallBox({
                                title: "Dep",

                                content: jsonMessage.Mensaje,

                                color: "#296191",

                                timeout: 4000

                            });
                        }

                    }

                });

            });
        $("#tablaDeDep tbody").on("click",
            "tr a[name=Archive]",
            function () {
                var idArea = $(this).attr("data-key");
                var data = new $.fn.dataTable.Api("#tablaDeDep").row($(this).closest("tr")).data();

                $.ajax({

                    url: "@Url.Action("Delete", "Departamento")",

                    data: { id: idArea },
                    
                    type: "GET",

                    success: function (jsonMessage) {

                        if (jsonMessage.Estatu) {
                            location.reload();
                        } else {
                            $.smallBox({
                                title: "Departamento",

                                content: jsonMessage.Mensaje,

                                color: "#296191",

                                timeout: 4000

                            });
                        }

                    }

                });

            });
    </script>
}