﻿@model SmartAdminMvc.Models.Profesiones.CrearProfesionesViewModel


<form id="formularioDeGuardarProfesiones" class="smart-form">
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.IdNivelEducativo, htmlAttributes: new { @class = "control-label" })

        <div class="select">

            @Html.DropDownListFor(model => model.IdNivelEducativo, new SelectList(ViewBag.SelectNivelEducativo, "Value", "Text"), "Seleccione Departamento...", new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(model => model.IdNivelEducativo, "", new { @class = "text-danger" })
            @*@Html.DropDownList("Departamento",ViewBag.DepList as SelectList,"Seleccione Departamentos")*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
        <div class="input">
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>

</form>

<script>
    $("#IdProfesiones").select2();
</script>