﻿@model IEnumerable<SmartAdminMvc.Models.Profesiones.ListarProfesionesViewModel>

@{
    ViewBag.Title = "Index";
}


<div class="col-lg-12">
    <div class="jarviswidget jarviswidget-color-darken">
        <header role="heading">

            <div class="widget-toolbar" role="menu">

                <button type="button" id="btnmodalAgregarProfesiones" class="btn btn-primary">Crear Profesiones</button>

            </div>
            <h2>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                Profesiones
            </h2>

        </header>

        <div>

            <div class="widget-body no-padding">
                <table id="tablaDeProfesiones" class="table table-striped table-bordered table-hover" width="100%">
                    <thead>
                        <tr>
                            <th data-class="expand"> @Html.DisplayNameFor(model => model.NivelEducativo)</th>
                            <th data-class="expand"> @Html.DisplayNameFor(model => model.Descripcion)</th>
                            <th data-class="expand"> @Html.DisplayNameFor(model => model.Estado)</th>
                            <th></th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {


                        <tr>

                            <td>

                                @Html.DisplayFor(modelItem => item.NivelEducativo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>

                                @if (Convert.ToBoolean(item.Estado))
                                {
                                    <label class="label label-success"> Activo</label>
                                }
                                else
                                {
                                    <label class="label label-danger"> Inactivo</label>
                                }

                            </td>
                            <td>
                                <div class="btn-group btn-sm">
                                    <button type="button" class="btn btn-link dropdown-toggle  no-padding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <xml data-iddicitionary="1003" data-class="Label-ML" title="1003">Actions</xml>
                                        <span class="caret"></span>
                                    </button><ul class="dropdown-menu dropdown-menu-left">
                                        <li>
                                            <a href="#" name="editarProfesiones" data-key="@item.IdProfesione">
                                                <span class="fa fa-edit"></span> Editar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" name="Archive" data-key="@item.IdProfesione">
                                                <span class="fa fa-edit"></span> Deshabilitar
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                    }

                </table>

            </div>

        </div>
    </div>


</div>


<div class="modal fade" id="modalEditarProfesiones" tabindex="-2" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="jarviswidget jarviswidget-color-darken">
            <header role="heading">
                <h2>
                    Editar Profesiones
                </h2>
            </header>
            <div>
                <div class="widget-body" id="bodyModalEditarProfesiones">

                </div>
                <div class="widget-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnEditarProfesiones">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalAgregarProfesiones" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="jarviswidget jarviswidget-color-darken">
            <header role="heading">
                <h2>
                    <span class="fa fa-plus-circle"></span>
                    Nueva Profesiones
                </h2>
            </header>
            <div>
                <div class="widget-body" id="bodyModalCrearProfesiones">

                </div>
                <div class="widget-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnGuardarProfesiones">Guardar Area</button>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div>
@section pagespecific {
    <script type="text/javascript">

        $(document).ready(function() {
            var responsiveHelper_dt_basic = undefined;
       
            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#tablaDeProfesiones').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function() {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic =
                            new ResponsiveDatatablesHelper($('#tablaDeProfesiones'), breakpointDefinition);
                    }
                },
                "rowCallback": function(nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function(oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            $("#tablaDeProfesiones tbody").on("click",
            "tr a[name=editarProfesiones]",
            function() {

                var idArea = $(this).attr("data-key");

                $.ajax({
                    url: "@Url.Action("Edit", "Profesiones")",

                    data: { id: idArea },

                    success: function(partialView) {

                        $("#modalEditarProfesiones").modal().show();
                        $("#bodyModalEditarProfesiones").html(partialView);

                    }


                });

            });




            $("#btnmodalAgregarProfesiones").on("click",
            function() {

                var idArea = $(this).attr("data-key");

                $.ajax({
                    url: "@Url.Action("Create", "Profesiones")",


                    success: function(partialView) {

                        $("#modalAgregarProfesiones").modal().show();
                        $("#bodyModalCrearProfesiones").html(partialView);

                    }


                });

            });
        });

        $("#btnGuardarProfesiones").on("click",
            function () {

                $.ajax({

                    url: "@Url.Action("Create", "Profesiones")",

                    type: "POST",

                    data: $("#formularioDeGuardarProfesiones").serialize(),

                    success: function (jsonMessage) {

                        if (jsonMessage.Estatus) {
                       location.href = "@Url.Action("Index", "Profesiones")";
                        } else {
                            $.smallBox({
                                title: "Profesiones",

                                content: jsonMessage.Mensaje,

                                color: "#296191",

                                timeout: 4000

                            });
                        }

                    }

                });

            });
        $("#btnEditarProfesiones").on("click",
            function () {

                $.ajax({

                    url: "@Url.Action("Edit", "Profesiones")",

                    type: "POST",

                    data: $("#formularioDeEditarProfesiones").serialize(),

                    success: function (jsonMessage) {

                        if (jsonMessage.Estatu) {
                            location.reload();
                        } else {
                            $.smallBox({
                                title: "Profesiones",

                                content: jsonMessage.Mensaje,

                                color: "#296191",

                                timeout: 4000

                            });
                        }

                    }

                });

            });
        $("#tablaDeProfesiones tbody").on("click",
            "tr a[name=Archive]",
            function () {
                var idArea = $(this).attr("data-key");
                var data = new $.fn.dataTable.Api("#tablaDeProfesiones").row($(this).closest("tr")).data();

                $.ajax({

                    url: "@Url.Action("Delete", "Profesiones")",

                    data: { id: idArea },
                    
                    type: "GET",

                    success: function (jsonMessage) {

                        if (jsonMessage.Estatu) {
                            location.reload();
                        } else {
                            $.smallBox({
                                title: "Profesiones",

                                content: jsonMessage.Mensaje,

                                color: "#296191",

                                timeout: 4000

                            });
                        }

                    }

                });

            });
    </script>
}