﻿    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    <div class="login-info">
        <span>
            <!-- User image size is adjusted inside CSS, it should stay as is -->

            <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <img src="~/content/img/logo2.png" alt="me" class="online" />
                <span>
                    @User.Identity.Name
                </span>
                <i class="fa fa-angle-down"></i>
            </a>

        </span>
    </div>
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!--
        NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul class="">
            <li class="">
                @* <a href="@Url.Action("Index", "Home")" title="blank_"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">@Html.DisplayTranslatedMessage(126)</span></a>*@
                <a href="@Url.Action("Index", "Base")" title="blank_"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Inicio</span></a>
            </li>
        <li>
            <a href="#" title="Personal"><i class="fa fa-user"></i><span class="menu-item-parent">Reclutamiento y Selección</span></a>
            <ul>
                <li>
                    <a href="@Url.Action("Create", "CrearCandidato")" title="Crear Candidato"><span class="menu-item-parent">Agregar Candidato</span></a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "CrearCandidato")" title="Lista Candidatos"><span class="menu-item-parent">Candidatos</span></a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" title="Per"><i class="fa fa-list-alt "></i><span class="menu-item-parent">Administracion Persona</span></a>
            <ul>
                <li>
                    <a href="@Url.Action("ListarContratados", "CrearCandidato")" title="Crear Candidato"><span class="menu-item-parent">Listar Personal</span></a>
                </li>
          </ul>
        </li>
            <li>
                <a href="#" title=""><i class="fa fa-level-down"></i><span class="menu-item-parent">Deducciones</span></a>
                <ul>
                    <li class="">
                        <a href="@Url.Action("Index", "Deducciones")" title=""><span class="menu-item-parent">Listar Deducciones</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Deducciones")" title=""><span class="menu-item-parent">Crear Deducciones</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title=""><i class="fa fa-level-up"></i><span class="menu-item-parent">Ingresos</span></a>
                <ul>
                    <li class="">
                        <a href="@Url.Action("Index", "Ingresos")" title=""><span class="menu-item-parent">Listar Ingresos</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Ingresos")" title=""><span class="menu-item-parent">Crear Ingresos</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Mantenimiento"><i class="fa fa-cogs"></i><span class="menu-item-parent">Mantenimiento</span></a>
                <ul>
                    <li>
                        <a href="#" title="Contrato"><i class="fa fa-cog"></i><span class="menu-item-parent">Areas</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index", "Area")" title="List Contract"><span class="menu-item-parent">Lista</span></a>
                            </li>
                            @*<li>
                                <a href="@Url.Action("Create", "Area")" title="Crear Contrato"><span class="menu-item-parent">Crear</span></a>
                            </li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="Contrato"><i class="fa fa-cog"></i><span class="menu-item-parent">Puestos</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index", "Puesto")" title="List Contract"><span class="menu-item-parent">Lista</span></a>
                            </li>
                            @*<li>
                                <a href="@Url.Action("Create", "Puesto")" title="Crear Contrato"><span class="menu-item-parent">Crear</span></a>
                            </li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="Contrato"><i class="fa fa-cog"></i><span class="menu-item-parent">Estado Civil</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index", "EstadoCivil")" title="List Contract"><span class="menu-item-parent">Lista</span></a>
                            </li>
                            @*<li>
                                <a href="@Url.Action("Create", "EstadoCivil")" title="Crear Contrato"><span class="menu-item-parent">Crear</span></a>
                            </li>*@
                        </ul>
                    </li>
             <li>
                        <a href="#" title="Contrato"><i class="fa fa-cog"></i><span class="menu-item-parent">Idioma</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index", "Idiomas")" title="List Contract"><span class="menu-item-parent">Lista</span></a>
                            </li>
                            @*<li>
                                <a href="@Url.Action("Create", "Idiomas")" title="Crear Contrato"><span class="menu-item-parent">Crear</span></a>
                            </li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="Contrato"><i class="fa fa-cog"></i><span class="menu-item-parent">Nacionalidad</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index", "Nacionalidad")" title="List Contract"><span class="menu-item-parent">Lista</span></a>
                            </li>
                            @*<li>
                                <a href="@Url.Action("Create", "Nacionalidad")" title="Crear Contrato"><span class="menu-item-parent">Crear</span></a>
                            </li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="Contrato"><i class="fa fa-cog"></i><span class="menu-item-parent">Profesiones</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index", "Profesiones")" title="List Contract"><span class="menu-item-parent">Lista</span></a>
                            </li>
                            @*<li>
                                <a href="@Url.Action("Create", "Profesiones")" title="Crear Contrato"><span class="menu-item-parent">Crear</span></a>
                            </li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="Contrato"><i class="fa fa-cog"></i><span class="menu-item-parent">Tipo de contrato</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index", "TipoContrato")" title="List Contract"><span class="menu-item-parent">Lista</span></a>
                            </li>
                            @*<li>
                                <a href="@Url.Action("Create", "TipoContrato")" title="Crear Contrato"><span class="menu-item-parent">Crear</span></a>
                            </li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="Contrato"><i class="fa fa-cog"></i><span class="menu-item-parent">Tipo de genero</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index", "TipoGenero")" title="List Contract"><span class="menu-item-parent">Lista</span></a>
                            </li>
                            @*<li>
                                <a href="@Url.Action("Create", "TipoGenero")" title="Crear Contrato"><span class="menu-item-parent">Crear</span></a>
                            </li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="Contrato"><i class="fa fa-cog"></i><span class="menu-item-parent">Tipo de persona</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index", "TipoPersona")" title="List Contract"><span class="menu-item-parent">Lista</span></a>
                            </li>
                            @*<li>
                                <a href="@Url.Action("Create", "TipoPersona")" title="Crear Contrato"><span class="menu-item-parent">Crear</span></a>
                            </li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="Contrato"><i class="fa fa-cog"></i><span class="menu-item-parent">Tipo de planilla</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index", "TipoPlanilla")" title="List Contract"><span class="menu-item-parent">Lista</span></a>
                            </li>
                            @*<li>
                                <a href="@Url.Action("Create", "TipoPlanilla")" title="Crear Contrato"><span class="menu-item-parent">Crear</span></a>
                            </li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="Contrato"><i class="fa fa-cog"></i><span class="menu-item-parent">Turnos</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index", "Turno")" title="List Contract"><span class="menu-item-parent">Lista</span></a>
                            </li>
                            @*<li>
                                <a href="@Url.Action("Create", "Turno")" title="Crear Contrato"><span class="menu-item-parent">Crear</span></a>
                            </li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="Contrato"><i class="fa fa-cog"></i><span class="menu-item-parent">Nivel educativo</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index", "NivelEducativo")" title="List Contract"><span class="menu-item-parent">Lista</span></a>
                            </li>
                            @*<li>
                                <a href="@Url.Action("Create", "NivelEducativo")" title="Crear Contrato"><span class="menu-item-parent">Crear</span></a>
                            </li>*@
                        </ul>
                    </li>

                    <li>
                        <a href="#" title="Contrato"><i class="fa fa-cog"></i><span class="menu-item-parent">Accion de personal</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index", "TipoAccionPersonal")" title="List Contract"><span class="menu-item-parent">Lista</span></a>
                            </li>
                            @*<li>
                                <a href="@Url.Action("Create", "TipoAccionPersonal")" title="Crear Contrato"><span class="menu-item-parent">Crear</span></a>
                            </li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="Tipo motivo de retiro"><i class="fa fa-cog"></i><span class="menu-item-parent">Tipo motivo de retiro</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index", "TipoMotivoRetiro")" title="List Contract"><span class="menu-item-parent">Lista</span></a>
                            </li>
                            @*<li>
                                <a href="@Url.Action("Create", "TipoMotivoRetiro")" title="Crear Contrato"><span class="menu-item-parent">Crear</span></a>
                            </li>*@
                        </ul>
                    </li>

                    <li>
                        <a href="#" title="Contrato"><i class="fa fa-cog"></i><span class="menu-item-parent">Tipo de empresa</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index", "TipoEmpresa")" title="List Contract"><span class="menu-item-parent">Lista</span></a>
                            </li>
                            @*<li>
                                <a href="@Url.Action("Create", "TipoEmpresa")" title="Crear Contrato"><span class="menu-item-parent">Crear</span></a>
                            </li>*@
                        </ul>
                    </li>

                    <li>
                        <a href="#" title="Contrato"><i class="fa fa-cog"></i><span class="menu-item-parent">Tipo de parentesco</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index", "TipoParentesco")" title="List Contract"><span class="menu-item-parent">Lista</span></a>
                            </li>
                            @*<li>
                                <a href="@Url.Action("Create", "TipoParentesco")" title="Crear Contrato"><span class="menu-item-parent">Crear</span></a>
                            </li>*@
                        </ul>
                    </li>
              
             
                </ul>
            </li>
        </ul>
    </nav><!-- END NAVIGATION -->
    <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

</aside>