﻿@model SmartAdminMvc.Models.Observaciones.EditarObservacionesViewModel

<form id="formularioDeEditarObservacion" class="smart-form">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdObservacion)
    <div class="form-group">
        @Html.LabelFor(model => model.IdPersona, htmlAttributes: new { @class = "control-label" })
        <div class="select">
            @Html.DropDownListFor(model => model.IdPersona, new SelectList(ViewBag.SelectPersonas, "Value", "Text"), "Seleccione Departamento...", new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(model => model.IdPersona, "", new { @class = "text-danger" })
            @*@Html.DropDownList("Departamento",ViewBag.DepList as SelectList,"Seleccione Departamentos")*@
        </div>
    </div>
    <div class="form-group">
        @*@Html.TranslatedLabelFor(x => x.Direccion, null)*@
        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
        <label class="textarea">
            @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @rows = "5" })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </label>
    </div>
    

</form>
<script>
    $("#IdDepartamento").select2();
</script>