﻿@model SmartAdminMvc.Models.Puesto.CrearPuestioViewModel


<form id="formularioDeGuardarPuesto" class="smart-form">
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.IdArea, htmlAttributes: new { @class = "control-label" })
        <div class="select">
            @Html.DropDownListFor(model => model.IdArea, new SelectList(ViewBag.SelectArea, "Value", "Text"), "Seleccione Area...", new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(model => model.IdArea, "", new { @class = "text-danger" })
            @*@Html.DropDownList("Departamento",ViewBag.DepList as SelectList,"Seleccione Departamentos")*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Puesto, htmlAttributes: new { @class = "control-label" })
        <div class="input">
            @Html.EditorFor(model => model.Puesto, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.Puesto, "", new { @class = "text-danger" })
        </div>
    </div>

</form>

<script>
    $("#IdPueso").select2();
</script>