﻿@model IEnumerable<SmartAdminMvc.Models.Puesto.ListarPuestoViewModel>

@{
    ViewBag.Title = "Index";
}


<div class="col-lg-12">
    <div class="jarviswidget jarviswidget-color-darken">
        <header role="heading">

            <div class="widget-toolbar" role="menu">

                <button type="button" id="btnmodalAgregarPuesto" class="btn btn-primary">Crear Puesto</button>

            </div>
            <h2>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                Puestos
            </h2>

        </header>

        <div>

            <div class="widget-body no-padding">
                <table id="tablaDePuesto" class="table table-striped table-bordered table-hover" width="100%">
                    <thead>
                        <tr>
                            <th data-class="expand"> @Html.DisplayNameFor(model => model.NameArea)</th>
                            <th data-class="expand"> @Html.DisplayNameFor(model => model.Puesto)</th>
                            <th data-class="expand"> @Html.DisplayNameFor(model => model.Estado)</th>
                            <th></th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {


                        <tr>

                            <td>

                                @Html.DisplayFor(modelItem => item.NameArea)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Puesto)
                            </td>
                            <td>

                                @if (Convert.ToBoolean(item.Estado))
                                {
                                    <label class="label label-success"> Activo</label>
                                }
                                else
                                {
                                    <label class="label label-danger"> Inactivo</label>
                                }

                            </td>
                            <td>
                                <div class="btn-group btn-sm">
                                    <button type="button" class="btn btn-link dropdown-toggle  no-padding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <xml data-iddicitionary="1003" data-class="Label-ML" title="1003">Actions</xml>
                                        <span class="caret"></span>
                                    </button><ul class="dropdown-menu dropdown-menu-left">
                                        <li>
                                            <a href="#" name="editarPuesto" data-key="@item.IdPuesto">
                                                <span class="fa fa-edit"></span> Editar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" name="Archive" data-key="@item.IdPuesto">
                                                <span class="fa fa-edit"></span> Deshabilitar
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                    }

                </table>

            </div>

        </div>
    </div>


</div>


<div class="modal fade" id="modalEditarPuesto" tabindex="-2" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="jarviswidget jarviswidget-color-darken">
            <header role="heading">
                <h2>
                    Editar Puestos
                </h2>
            </header>
            <div>
                <div class="widget-body" id="bodyModalEditarPuesto">

                </div>
                <div class="widget-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnEditarPuesto">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalAgregarPuesto" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="jarviswidget jarviswidget-color-darken">
            <header role="heading">
                <h2>
                    <span class="fa fa-plus-circle"></span>
                    Nueva Puestos
                </h2>
            </header>
            <div>
                <div class="widget-body" id="bodyModalCrearPuesto">

                </div>
                <div class="widget-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnGuardarPuesto">Guardar Area</button>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div>
@section pagespecific {
    <script type="text/javascript">

        $(document).ready(function() {
            var responsiveHelper_dt_basic = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#tablaDePuesto').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function() {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic =
                            new ResponsiveDatatablesHelper($('#tablaDePuesto'), breakpointDefinition);
                    }
                },
                "rowCallback": function(nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function(oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            $("#tablaDePuesto tbody").on("click",
            "tr a[name=editarPuesto]",
            function() {

                var idArea = $(this).attr("data-key");

                $.ajax({
                    url: "@Url.Action("Edit", "Puesto")",

                    data: { id: idArea },

                    success: function(partialView) {

                        $("#modalEditarPuesto").modal().show();
                        $("#bodyModalEditarPuesto").html(partialView);

                    }


                });

            });




            $("#btnmodalAgregarPuesto").on("click",
            function() {

                var idArea = $(this).attr("data-key");

                $.ajax({
                    url: "@Url.Action("Create", "Puesto")",


                    success: function(partialView) {

                        $("#modalAgregarPuesto").modal().show();
                        $("#bodyModalCrearPuesto").html(partialView);

                    }


                });

            });
        });

        $("#btnGuardarPuesto").on("click",
            function () {

                $.ajax({

                    url: "@Url.Action("Create", "Puesto")",

                    type: "POST",

                    data: $("#formularioDeGuardarPuesto").serialize(),

                    success: function (jsonMessage) {

                        if (jsonMessage.Estatus) {
                       location.href = "@Url.Action("Index", "Puesto")";
                        } else {
                            $.smallBox({
                                title: "Puestos",

                                content: jsonMessage.Mensaje,

                                color: "#296191",

                                timeout: 4000

                            });
                        }

                    }

                });

            });
        $("#btnEditarPuesto").on("click",
            function () {

                $.ajax({

                    url: "@Url.Action("Edit", "Puesto")",

                    type: "POST",

                    data: $("#formularioDeEditarPuesto").serialize(),

                    success: function (jsonMessage) {

                        if (jsonMessage.Estatu) {
                            location.reload();
                        } else {
                            $.smallBox({
                                title: "Puestos",

                                content: jsonMessage.Mensaje,

                                color: "#296191",

                                timeout: 4000

                            });
                        }

                    }

                });

            });
        $("#tablaDePuesto tbody").on("click",
            "tr a[name=Archive]",
            function () {
                var idArea = $(this).attr("data-key");
                var data = new $.fn.dataTable.Api("#tablaDePuesto").row($(this).closest("tr")).data();

                $.ajax({

                    url: "@Url.Action("Delete", "Puesto")",

                    data: { id: idArea },
                    
                    type: "GET",

                    success: function (jsonMessage) {

                        if (jsonMessage.Estatu) {
                            location.reload();
                        } else {
                            $.smallBox({
                                title: "Puestos",

                                content: jsonMessage.Mensaje,

                                color: "#296191",

                                timeout: 4000

                            });
                        }

                    }

                });

            });
    </script>
}