﻿@model SmartAdminMvc.Models.Idiomas.EditarIdiomasViewModel


<form id="formularioDeEditarIdioma" class="smart-form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdIdioma)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.NombreIdioma, htmlAttributes: new { @class = "control-label" })
        <div class="input">
            @Html.EditorFor(model => model.NombreIdioma, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.NombreIdioma, "", new { @class = "text-danger" })
        </div>
    </div>

</form>


<script>
    $("#IdIdioma").select2();
</script>