﻿@model SmartAdminMvc.Models.EstadoCivil.EditarEstadoCivilViewModel


<form id="formularioDeEditarEstadoCivil" class="smart-form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=> model.IdEstadoC)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.EstadoCivil, htmlAttributes: new { @class = "control-label" })
        <div class="input">
            @Html.EditorFor(model => model.EstadoCivil, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.EstadoCivil, "", new { @class = "text-danger" })
        </div>
    </div>

</form>


<script>
    $("#IdEstadoCivil").select2();
</script>