﻿
<div class="col-xs-12 col-sm-12 col-md-7 col-lg-4 hidden-xs hidden-sm">
      @*<h1 class="txt-color-red login-header-big">SmartAdmin</h1>*@
    @*<div class="hero">*@

        @*<div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">S!</h4>*@
            @*<div class="login-app-icons">
                <a href="javascript:void(0);" class="btn btn-danger btn-sm">Frontend Template</a>
                <a href="javascript:void(0);" class="btn btn-danger btn-sm">Find out more</a>
            </div>*@
        @*</div>*@

        <img src="~/content/img/demo/Ultra-HD-4k-Resolution-Wallpapers.png" class="col-md-pull-0 display-image" alt="" style="width:1910px">

    @*</div>*@

      @*<div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
              <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
              </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <h5 class="about-heading">Not just your average template!</h5>
              <p>
                  Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
              </p>
          </div>
      </div>*@

  </div>