﻿@model SmartAdminMvc.Models.Deducciones.CrearDeduccionesViewModel

@{
    Layout = null;
}
<form id="formularioDeGuardarDed" class="smart-form">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
        <div class="input">
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>
</form>

<script>
    $("#IdDed").select2();
</script>
