﻿@model SmartAdminMvc.Models.Deducciones.EditarDeduccionesViewModel


<form id="formularioDeEditarDed" class="smart-form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdDeducciones)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
        <div class="input">
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>

</form>


<script>
    $("#IdDed").select2();
</script>