﻿@model SmartAdminMvc.Models.Ingresos.EditarIngresosViewModel


<form id="formularioDeEditarIn" class="smart-form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdIngresos)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
        <div class="input">
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>
</form>

<script>
    $("#IdIn").select2();
</script>