﻿@model SmartAdminMvc.Models.Personas.CrearCandidatoViewModel

<style>
    /* Let's get this party started */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(28, 128, 128,0.3);
        -webkit-border-radius: 5px;
        border-radius: 4px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 4px;
        background: rgba(128, 128, 128,0.8);
        -webkit-box-shadow: inset 0 0 6px rgba(128, 128, 128,0.3);
    }

        ::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(28, 128, 128,0.4);
        }

    .smart-form * {
        box-sizing: border-box !important;
    }

    .img-container {
        width: auto;
        height: 350px;
        background-image: repeating-linear-gradient(45deg,#ccc,#ccc 10px, #dbdbdb 10px, #dbdbdb 20px);
        text-align: center;
    }
</style>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">

        <div class="jarviswidget jarviswidget-color-darken">
            <header role="heading">
                <h2>
                    <span class="fa fa-user-plus">

                    </span>
                    Editar Candidato
                </h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-3">

                            </div>
                            <div class="col-lg-6 text-center">
                                <div class="smart-form">
                                    <fieldset></fieldset>
                                </div>
                            </div>
                            <div class="col-lg-3">

                            </div>
                        </div>

                        <form class="smart-form" id="frmPersonas" method="post" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <fieldset>
                                <section class="col col-6">
                                    <div class="form-group">
                                        @*@Html.TranslatedLabelFor(x => x.Nombre, null)*@
                                        @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "control-label" })
                                        <label class="input">
                                            @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" , required = "required" } })
                                            @Html.HiddenFor(model => model.IdPersona)
                                            @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                                        </label>
                                    </div>
                                </section>
                                <section class="col col-6">
                                    <div class="form-group">
                                        @*@Html.TranslatedLabelFor(x => x.Apellido, null)*@
                                        @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label" })
                                        <label class="input">
                                            @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                                        </label>
                                    </div>
                                </section>
                                <section class="col col-6">
                                    <div class="form-group">
                                        @*@Html.TranslatedLabelFor(x => x.IdNacionalidad, null)*@
                                        @Html.LabelFor(model => model.Nacionalidads, htmlAttributes: new { @class = "control-label" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.Nacionalidads, new SelectList(ViewBag.SelectNacionalidad, "Value", "Text"), "", new { @class = "form-control", @style = "width:100%;", required = "required" })
                                            @Html.ValidationMessageFor(model => model.Nacionalidads, "", new { @class = "text-danger" })
                                        </label>
                                    </div>
                                </section>
                                <section class="col col-6">
                                    <div class="form-group">
                                        @*@Html.TranslatedLabelFor(x => x.NumeroIdentidad, null)*@
                                        @Html.LabelFor(model => model.NumeroIdentidads, htmlAttributes: new { @class = "control-label" })
                                        <label class="input">
                                            @Html.EditorFor(model => model.NumeroIdentidads, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(model => model.NumeroIdentidads, "", new { @class = "text-danger" })
                                        </label>
                                    </div>
                                </section>
                                <section class="col col-6">
                                    <div class="form-group">
                                        @*@Html.TranslatedLabelFor(x => x.TelefonoMovil, null)*@
                                        @Html.LabelFor(model => model.TelefonoMovils, htmlAttributes: new { @class = "control-label" })
                                        <label class="input">
                                            @Html.EditorFor(model => model.TelefonoMovils, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(model => model.TelefonoMovils, "", new { @class = "text-danger" })
                                        </label>
                                    </div>
                                </section>
                                <section class="col col-6">
                                    <div class="form-group">
                                        @*@Html.TranslatedLabelFor(x => x.TelefonoFijo, null)*@
                                        @Html.LabelFor(model => model.TelefonoFijos, htmlAttributes: new { @class = "control-label" })
                                        <label class="input">
                                            @Html.EditorFor(model => model.TelefonoFijos, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(model => model.TelefonoFijos, "", new { @class = "text-danger" })
                                        </label>
                                    </div>
                                </section>
                                <section class="col col-6">
                                    <div class="form-group">
                                        @*@Html.TranslatedLabelFor(x => x.IdEstadoCivil, null)*@
                                        @Html.LabelFor(model => model.EstadoCivils, htmlAttributes: new { @class = "control-label" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.EstadoCivils, new SelectList(ViewBag.SelectEstadoCivil, "Value", "Text"), "", new { @class = "form-control", @style = "width:100%;", required = "required" })
                                            @Html.ValidationMessageFor(model => model.EstadoCivils, "", new { @class = "text-danger" })
                                        </label>
                                    </div>
                                </section>
                                <section class="col col-6">
                                    <div class="form-group">
                                        @*@Html.TranslatedLabelFor(x => x.IdGenero, null)*@
                                        @Html.LabelFor(model => model.Generos, htmlAttributes: new { @class = "control-label" })
                                        <label class="input">
                                            @Html.DropDownListFor(model => model.Generos, new SelectList(ViewBag.SelectGenero, "Value", "Text"), "", new { @class = "form-control", @style = "width:100%;", required = "required" })
                                            @Html.ValidationMessageFor(model => model.Generos, "", new { @class = "text-danger" })
                                        </label>
                                    </div>
                                </section>
                                <section class="col col-6">
                                    <div class="form-group">
                                        @*@Html.TranslatedLabelFor(x => x.FechaNacimiento, null)*@
                                        @Html.LabelFor(model => model.FechaNacimientos, htmlAttributes: new { @class = "control-label" })
                                        <label class="input">
                                            @Html.EditorFor(model => model.FechaNacimientos, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(model => model.FechaNacimientos, "", new { @class = "text-danger" })
                                        </label>
                                    </div>
                                </section>
                                <section class="col col-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PoseeVehiculos, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.PoseeVehiculos, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(model => model.PoseeVehiculos, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </section>
                                
                                <section class="col col-lg-12">
                                    <div class="form-group">
                                        @*@Html.TranslatedLabelFor(x => x.Direccion, null)*@
                                        @Html.LabelFor(model => model.Direccions, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <label class="textarea">
                                            @Html.TextAreaFor(model => model.Direccions, new { @class = "form-control", @rows = "5", required = "required" })
                                            @Html.ValidationMessageFor(model => model.Direccions, "", new { @class = "text-danger" })
                                        </label>
                                    </div>
                                </section>
                          
                            </fieldset>
                            <div class="form-group">
                                <div class="col-md-offset-5 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </div>
                        </form>

                        <div class="col-lg-12">
                            <fieldset>
                                <legend>Mas Opciones</legend>
                                <ul id="myTab1" class="nav nav-tabs bordered">
                                    <li class="active">
                                        <a href="#nivelEducativo" data-toggle="tab" aria-expanded="true">Nivel Educativo </a>
                                    </li>
                                    <li class="">
                                        <a href="#familiares" data-toggle="tab" aria-expanded="true"> Familaires</a>
                                    </li>
                                    <li class="">
                                        <a href="#antecedentesLaborales" data-toggle="tab" aria-expanded="true">Antecedentes</a>
                                    </li>
                                    <li class="">
                                        <a href="#parientes" data-toggle="tab" aria-expanded="true"> Parientes</a>
                                    </li>
                                    <li class="">
                                        <a href="#referencias" data-toggle="tab" aria-expanded="true">Referencias</a>
                                    </li>
                                </ul>

                            </fieldset>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            @*//$("#FechaNacimiento").val("@Model.FechaNacimiento.ToString("dd/MM/yyyy")");
            $("#FechaNacimiento").datepicker({
                startDate: new Date,
                dateFormat: 'dd/MM/yy',
                changeMonth: true,
                changeYear: true,
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>'
            });*@
            $("#FechaEgresoAntecedentes").datepicker({
                startDate: new Date,
                dateFormat: 'yy/MM/dd',
                changeMonth: true,
                changeYear: true,
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>'
            });
            $("#FechaIngresoAntecedentes").datepicker({
                startDate: new Date,
                dateFormat: 'yy/MM/dd',
                changeMonth: true,
                changeYear: true,
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>'
            });
        });
        let flagContratado = false;
        $("select").select2();

        $("#NumeroIdentidads").mask("9999-9999-99999");
        $("#TelefonoMovils").mask("9999-9999");
        $("#TelefonoPersonas").mask("9999-9999");
        $("#TelefonoReferencia").mask("9999-9999");
        $("#TelefonoFijos").mask("9999-9999");
        $("#TelefonoAntecedentesLaborales").mask("9999-9999");
        $("#TelefonoFamiliar").mask("9999-9999");
        $("#FechaNacimientos").datepicker({
            dateFormat: 'dd/MM/yy',
            changeMonth: true,
            changeYear: true,
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            yearRange: '1950:2018'
        });

    </script>



}

