﻿@model IEnumerable<SmartAdminMvc.Models.Personas.CrearCandidatoViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="col-lg-12">
    <div class="jarviswidget jarviswidget-color-darken">
        <header role="heading">

            <div class="widget-toolbar" role="menu">
                @*<button type="button" id="btnmodalAgregarCandidato" class="btn btn-primary">Crear Candidato</button>*@

            </div>
            <h2>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
               Candidatos
            </h2>

        </header>

        <div>
            <div class="widget-body no-padding">
                <table id="tablaDeCandidato" class="table table-striped table-bordered table-hover" width="100%">
                    <thead>

                        <tr>
                            @*<th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> @Html.DisplayNameFor(model => model.IdArea)</th>*@
                            @*<th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>    @Html.DisplayNameFor(model => model.IdPersona)</th>*@
                                @*<th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>    @Html.DisplayNameFor(model => model.NumeroIdentidads)</th>*@
                            <th data-class="expand">       @Html.DisplayNameFor(model => model.Nombres)</th>
                            @*<th data-class="expand">    @Html.DisplayNameFor(model => model.Apellido)</th>*@
                            @*<th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>     @Html.DisplayNameFor(model => model.Direccions)</th>*@
                            <th data-class="expand">  @Html.DisplayNameFor(model => model.TelefonoMovils)</th>
                            @*<th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>   @Html.DisplayNameFor(model => model.TelefonoFijos)</th>*@
                            @*<th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>   @Html.DisplayNameFor(model => model.FechaNacimientos)</th>*@
                            <th data-class="expand">     @Html.DisplayNameFor(model => model.PoseeVehiculos)</th>
                            <th data-class="expand">  @Html.DisplayNameFor(model => model.Generos)</th>
                            <th data-class="expand">   @Html.DisplayNameFor(model => model.EstadoCivils)</th>
                            <th data-class="expand">     @Html.DisplayNameFor(model => model.Nacionalidads)</th>
                            <th data-class="expand">     @Html.DisplayNameFor(model => model.Estado)</th>
                            <th></th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>

                            @*<td>
                                    @Html.DisplayFor(modelItem => item.IdPersona)
                                </td>*@
                               @*<td>
                                    @Html.DisplayFor(modelItem => item.NumeroIdentidads)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombres)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Apellido)
                            </td>*@
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Direccions)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.TelefonoMovils)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.TelefonoFijos)
                                </td>*@
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.FechaNacimientos)
                                </td>*@
                            <td>
                                @if (Convert.ToBoolean(item.PoseeVehiculos))
                                {
                                    <label class="label label-success"> SI</label>
                                }
                                else
                                {
                                    <label class="label label-danger"> NO</label>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Generos)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EstadoCivils)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nacionalidads)
                            </td>
                            <td>
                                @if (Convert.ToBoolean(item.Estado))
                                {
                                    <label class="label label-success"> Activo</label>
                                }
                                else
                                {
                                    <label class="label label-danger"> Inactivo</label>
                                }

                            </td>
                            <td>
                                <div class="btn-group btn-sm">
                                    <button type="button" class="btn btn-link dropdown-toggle  no-padding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <xml data-iddicitionary="1003" data-class="Label-ML" title="1003">Actions</xml>
                                        <span class="caret"></span>
                                    </button><ul class="dropdown-menu dropdown-menu-left">
                                        <li>
                                            <a href="/CrearCandidato/Edit?id= @item.IdPersona " name="edit"><i class="fa fa-pencil-square-o fa-lg fa-fw"></i> Editar</a>
                                        </li>
                                        @if (Convert.ToBoolean(item.Estado == true)) //Aqui la propiedad que te dice si ya esta contratado o no solo eso? como lo comparo>
                                       
                                        {
                                        <li>
                                            <a href="/CrearCandidato/Contratados?id=@item.IdPersona " name="edit"><i class="fa fa-suitcase fa-lg fa-fw"></i> Contratar </a>
                                        </li>
                                        
                                          
                                            <li>
                                                <a href="#" name="Archive" data-key="@item.IdPersona">
                                                    <span class="fa fa-edit"></span> Deshabilitar
                                                </a>
                                            </li>
                                             
                                            <li>
                                                <a href="/Observaciones/Index" name="edit">
                                                    <span class="fa fa-edit"></span> Observaciones
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }

                </table>

            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalEditarCandidato" tabindex="-2" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="jarviswidget jarviswidget-color-darken">
            <header role="heading">
                <h2>
                    Editar Area
                </h2>
            </header>
            <div>
                <div class="widget-hide-overflow" id="bodyModalEditarCandidato">

                </div>
                <div class="widget-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modalAgregarCandidato" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="jarviswidget jarviswidget-color-darken">
            <header role="heading">
                <h2>
                    Agregar Candidato
                </h2>
            </header>
            <div>
                <div class="widget-body" id="bodyModalCrearCandidato">

                </div>
                <div class="widget-footer">
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div>
@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function() {

            /* // DOM Position key index //

            l - Length changing (dropdown)
            f - Filtering input (search)
            t - The Table! (datatable)
            i - Information (records)
            p - Pagination (paging)
            r - pRocessing
            < and > - div elements
            <"#id" and > - div with an id
            <"class" and > - div with a class
            <"#id.class" and > - div with an id and class

            Also see: http://legacy.datatables.net/usage/features
            */

            /* BASIC ;*/
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#tablaDeCandidato').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function() {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic =
                            new ResponsiveDatatablesHelper($('#tablaDeCandidato'), breakpointDefinition);
                    }
                },
                "rowCallback": function(nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function(oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            /* END BASIC */

            /* COLUMN FILTER  */
            var otable = $('#datatable_fixed_column').DataTable({
                //"bFilter": false,
                //"bInfo": false,
                //"bLengthChange": false
                // bAutoWidth": false,
                //"bPaginate": false,
                //"bStateSave": true // saves sort state using localStorage
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function() {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_fixed_column) {
                        responsiveHelper_datatable_fixed_column =
                            new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                    }
                },
                "rowCallback": function(nRow) {
                    responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                },
                "drawCallback": function(oSettings) {
                    responsiveHelper_datatable_fixed_column.respond();
                }

            });

            // custom toolbar
            $("div.toolbar")
                .html(
                    '<div class="text-right"><img src="/Content/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

            // Apply the filter
            $("#datatable_fixed_column thead th input[type=text]").on('keyup change',
                function() {

                    otable
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();

                });
            /* END COLUMN FILTER */

            /* COLUMN SHOW - HIDE */
            $('#datatable_col_reorder').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "autoWidth": true,
                "preDrawCallback": function() {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_col_reorder) {
                        responsiveHelper_datatable_col_reorder =
                            new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                    }
                },
                "rowCallback": function(nRow) {
                    responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                },
                "drawCallback": function(oSettings) {
                    responsiveHelper_datatable_col_reorder.respond();

                }
            });

            /* END COLUMN SHOW - HIDE */

            /* TABLETOOLS */
            $('#datatable_tabletools').dataTable({

                // Tabletools options:
                //   https://datatables.net/extensions/tabletools/button_options
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "oTableTools": {
                    "aButtons": [
                        "copy",
                        "csv",
                        "xls",
                        {
                            "sExtends": "pdf",
                            "sTitle": "SmartAdmin_PDF",
                            "sPdfMessage": "SmartAdmin PDF Export",
                            "sPdfSize": "letter"
                        },
                        {
                            "sExtends": "print",
                            "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                        }
                    ],
                    "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                },
                "autoWidth": true,
                "preDrawCallback": function() {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_tabletools) {
                        responsiveHelper_datatable_tabletools =
                            new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                    }
                },
                "rowCallback": function(nRow) {
                    responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                },
                "drawCallback": function(oSettings) {
                    responsiveHelper_datatable_tabletools.respond();
                }

            });
            /* END TABLETOOLS */

        });

        $("#tablaDeCandidato tbody").on("click",
            "tr a[name=editarCandidato]",
            function() {

                var idCandidato = $(this).attr("data-key");

                $.ajax({
                    url: "@Url.Action("Edit", "CrearCandidato")",

                    data: { id: idCandidato },

                    success: function(View) {

                        $("#modalEditarCandidato").modal().show();
                        $("#bodyModalEditarCandidato").html(View);

                    }


                });

            });

        $("#btnmodalAgregarCandidato").on("click",
            function() {

                var idCandidato = $(this).attr("data-key");

                $.ajax({
                    url: "@Url.Action("Create", "CrearCandidato")",


                    success: function(partialView) {

                        $("#modalAgregarCandidato").modal().show();
                        $("#bodyModalCrearCandidato").html(partialView);

                    }


                });

            });



        $("#tablaDeCandidato tbody").on("click",
            "tr a[name=Guarde]",
            function () {
                 var data = new $.fn.dataTable.Api("#tablaDeCandidato").row($(this).closest("tr")).data();

                $.ajax({

                    url: "@Url.Action("Create", "CrearCandidato")",

                      
                    type: "GET",

                    success: function (jsonMessage) {

                        if (jsonMessage.Estatu) {
                            location.reload();
                        } else {
                            $.smallBox({
                                title: "Candidatos",

                                content: jsonMessage.Mensaje,

                                color: "#296191",

                                timeout: 4000

                            });
                        }

                    }

                });

            });


        $("#tablaDeCandidato tbody").on("click",
            "tr a[name=Archive]",
            function () {
                var IdPersona = $(this).attr("data-key");
                var data = new $.fn.dataTable.Api("#tablaDeCandidato").row($(this).closest("tr")).data();

                $.ajax({

                    url: "@Url.Action("ArchivarCandidato", "CrearCandidato")",

                    data: { id: IdPersona },
                    
                    type: "GET",

                    success: function (jsonMessage) {

                        if (jsonMessage.Estatu) {
                            location.reload();
                        } else {
                            $.smallBox({
                                title: "Candidatos",

                                content: jsonMessage.Mensaje,

                                color: "#296191",

                                timeout: 4000

                            });
                        }

                    }

                });

            });
      
  

        /* When the user clicks on the button,
       toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

// Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

    </script>
}
