﻿@model IEnumerable<SmartAdminMvc.Models.Personas.CrearCandidatoViewModel>

@{
    ViewBag.Title = "ListarContratados";
}
<div class="col-lg-12">
    <div class="jarviswidget jarviswidget-color-darken">
        <header role="heading">

            <div class="widget-toolbar" role="menu">
            </div>
            <h2>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                Personal
            </h2>

        </header>

        <div>
            <div class="widget-body no-padding">
                <table id="tablaDePersonas" class="table table-striped table-bordered table-hover" width="100%">
                    <thead>

                    <tr>
                        <th data-class="expand"> @Html.DisplayNameFor(model => model.CodigoEmpleado)</th>
                        <th data-class="expand"> @Html.DisplayNameFor(model => model.TPuesto)</th>
                        <th data-class="expand"> @Html.DisplayNameFor(model => model.Nombres)</th>
                       <th data-class="expand"> @Html.DisplayNameFor(model => model.Generos)</th>
                        <th data-class="expand"> @Html.DisplayNameFor(model => model.TipoContra)</th>
                        <th data-class="expand"> @Html.DisplayNameFor(model => model.SueldoBase)</th>
                        <th data-class="expand"> @Html.DisplayNameFor(model => model.TipoTurno)</th>
                        <th data-class="expand"> @Html.DisplayNameFor(model => model.Estado)</th>
                        <th></th>
                    </tr>
                    </thead>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CodigoEmpleado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TPuesto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombres)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Apellido)
                            </td>*@
                           <td>
                                @Html.DisplayFor(modelItem => item.Generos)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoContra)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SueldoBase)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoTurno)
                            </td>

                            <td>
                                @if (Convert.ToBoolean(item.Estado))
                                {
                                    <label class="label label-success"> Activo</label>
                                }
                                else
                                {
                                    <label class="label label-danger"> Inactivo</label>
                                }

                            </td>
                            <td>

                                <div class="btn-group btn-sm">
                                    <button type="button" class="btn btn-link dropdown-toggle  no-padding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <xml data-iddicitionary="1003" data-class="Label-ML" title="1003">Actions</xml>
                                        <span class="caret"></span>
                                    </button><ul class="dropdown-menu dropdown-menu-left">
                                        <li>
                                            <a href="/CrearCandidato/EditContratados?id=@item.IdPersona " name="edit"><i class="fa fa-pencil-square-o fa-lg fa-fw"></i> Editar</a>
                                        </li>
                                        <li>
                                            <a href="#" name="Archive" data-key="@item.IdPersona">
                                                <span class="fa fa-edit"></span> Deshabilitar
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }

                </table>

            </div>

        </div>
    </div>


</div>
@section pagespecific {
    <script type="text/javascript">

        $(document).ready(function() {
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#tablaDePersonas').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function() {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic =
                            new ResponsiveDatatablesHelper($('#tablaDePersonas'), breakpointDefinition);
                    }
                },
                "rowCallback": function(nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function(oSettings) {
                    responsiveHelper_dt_basic.respond();
                }

            });
        });
        $("#tablaDePersonas tbody").on("click",
            "tr a[name=Archive]",
            function () {
                var IdPersona = $(this).attr("data-key");
                var data = new $.fn.dataTable.Api("#tablaDePersonas").row($(this).closest("tr")).data();

                $.ajax({

                    url: "@Url.Action("ArchivarPersona", "CrearCandidato")",

                    data: { id: IdPersona },
                    
                    type: "GET",

                    success: function (jsonMessage) {

                        if (jsonMessage.Estatu) {
                            location.reload();
                        } else {
                            $.smallBox({
                                title: "Personal",

                                content: jsonMessage.Mensaje,

                                color: "#296191",

                                timeout: 4000

                            });
                        }

                    }

                });

            });
    </script>
}