﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Planilla.aspx.cs" Inherits="SmartAdminMvc.Planilla" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
        <asp:GridView ID="GridView1" runat="server" Width="434px">
        </asp:GridView>
    </form>
</body>
</html>
